.container2 {
 	margin-top:70px;
}

svg:not(:root) {
  overflow: visible;
}
table{
    border-collapse: collapse;
}
table td {
  width:50px;
  height:20px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #000;
}

table td.highlighted {
  background-color:green;
}
table td.blank{
	background-color:white !important;
	border:white;
}

table td.even{
	border-bottom: 2px dotted #000 !important;
}
table td.odd{
	border-bottom: 2px solid #000 !important; 
}