{% extends "base.html" %}
{% load bootstrap %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class = "container content">
        <div class="col-md-10 md-margin-bottom-40">
<div class="row">
                <div class="span12">
                    <h2>Sign Up</h2>

                    <hr />

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <div class="row">
  <div class="col-sm-offset-0 col-sm-10">
<form class="form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form| bootstrap_horizontal}}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
     <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <button class="btn btn-green" type="submit">{% trans "Sign Up" %} &raquo;</button></div></div>
</form>
</div></div></div></div>
</div>
</div>
{% endblock %}

