body,input,textarea,select {
  line-height: 1.5em;
  font-size: 16pt;
}

.features {
  margin-bottom: 0;
}

section,
article,
.row > section,
.row > article {
  margin-bottom: 3em;
}

section:last-child,
article:last-child,
.row > section:last-child,
.row > article:last-child {
  margin-bottom: 0;
}

.rt-border {
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
}

#nav {
  font-size: 0.9em;
}