body,input,textarea,select {
  font-size: 12pt;
  letter-spacing: 0;
}

section,
article,
.row > section,
.row > article {
  margin-bottom: 2em;
}

#logo {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
}