{% load staticfiles %}
{% load account %}
<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Travel Bug</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet">
    <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
    <!-- Customizable CSS -->
    <link href="{%static "css/main.css"%}" rel="stylesheet" data-skrollr-stylesheet>
    <link href="{%static "css/green.css"%}" rel="stylesheet" title="Color">
    <link href="{%static "css/owl.carousel.css"%}" rel="stylesheet">
    <link href="{%static "css/owl.transitions.css"%}" rel="stylesheet">
    <link href="{%static "css/animate.min.css"%}" rel="stylesheet">
    <link href="{%static "css/jquery.circliful.css"%}" rel="stylesheet">
    <script src="{%static "js/chart.js"%}"></script>
    <!--script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['geochart']}]}"--></script>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Exif Stuffs -->
    <script src="{%static "build/exiflocation.standalone.js"%}"></script>
    <!--script src="{%static "js/main.js"%}"></script-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwfHqSrAdndSlnD3DArI_4jgoND6PArY"></script>

    <!-- Icons/Glyphs -->
    <link href="{%static "fonts/fontello.css"%}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%static "images/favicon.ico"%}">


    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
            <script src="{%static "js/html5shiv.js"%}"></script>
            <script src="{%static "js/respond.min.js"%}"></script>
        <![endif]-->
    </head>
    
    <body>
        
        <!-- ============================================================= HEADER ============================================================= -->
        
        <header>
            <div class="navbar">
                
                <div class="navbar-header">
                    <div class="container">
                        
                        <!--<ul class="info pull-left">
                            <li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
                            <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
                        </ul>--><!-- /.info -->
                        
                        <!--<ul class="social pull-right">
                            <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-s-behance"></i></a></li>
                            <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                        </ul>--><!-- /.social -->
                        
                        <!-- ============================================================= LOGO MOBILE ============================================================= -->
                        
                        <a class="navbar-brand" href="/"><h1>Travel Bug</h1></a>
                        
                        <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
                        
                        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
                        
                    </div><!-- /.container -->
                </div><!-- /.navbar-header -->
                
                <div class="yamm">
                    <div class="navbar-collapse collapse">
                        <div class="container">
                            
                            <!-- ============================================================= LOGO ============================================================= -->
                            
                            <a class="navbar-brand" href="/"><h1>TRAVEL BUG</h1></a>
                            
                            <!-- ============================================================= LOGO : END ============================================================= -->
                            
                            
                            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
                            
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li><a href="/currency">Currency</a></li>
                                <li><a href="/ranking">Destination Selector</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle js-activated">Climate</a>
                                    
                                    <ul class="dropdown-menu">
                                        <li> <a href="/climate/jan">January</a></li>
                                        <li> <a href="/climate/feb">February</a>                            </li>
                                        <li><a href="/climate/mar">March</a>                            </li>
                                        <li><a href="/climate/apr">April</a>                            </li>
                                        <li> <a href="/climate/may">May</a>                            </li>
                                        <li> <a href="/climate/jun">June</a>                            </li>
                                        <li><a href="/climate/jul">July</a>                            </li>
                                        <li><a href="/climate/aug">August</a>                            </li>
                                        <li><a href="/climate/sep">September</a>                            </li>
                                        <li><a href="/climate/oct">October</a>                            </li>
                                        <li><a href="/climate/nov">November</a>                            </li>
                                        <li><a href="/climate/dec">December</a>                            </li>
                                    </ul><!-- /.dropdown-menu -->
                                </li><!-- /.dropdown -->
                                
                
                                
                                <li class="searchbox">
                                    
                                    <form id="search" class="navbar-form search" style="margin-top:4px;" role="search" method="POST" action="{% url 'search' %}">
                                            {% csrf_token %}
                                            <div style="width:250px">
                                                <input type="text" class="form-control" id="txtSearch" name="txtSearch">
                                            </div>
                                            <button type="submit" class="btn btn-default btn-submit"><i class="icon-search"></i></button>
                                        </form>
                                              
                                </li><!-- /.searchbox -->



                                
                            </ul><!-- /.nav -->
                            
                            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
                            
                        </div><!-- /.container -->
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.yamm -->
            </div><!-- /.navbar -->
        </header>
        
        <!-- ============================================================= HEADER : END ============================================================= -->
        
        
        <!-- ============================================================= MAIN ============================================================= -->
        
        <main>

            <!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
            <section id="portfolio-post">
                <div class="container inner-top-md">

                    <div class="col-sm-12 inner-top-xs inner-right-xs">
                        <header>
                            <h2>{% block pageheader %}{% endblock %}<small>{% block subheader %}{% endblock %}</small></h2>
                            {% block content %}{% endblock %}
                        </header>
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.container -->

        </section>
        <div class="row"><div class="container inner-top-md"></div></div>           
        <!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


        <!-- ============================================================= SECTION – MORE WORKS : END ============================================================= -->


        <!-- ============================================================= SECTION – SHARE ============================================================= -->


        <!-- ============================================================= SECTION – SHARE : END ============================================================= -->

    </main>

    <!-- ============================================================= MAIN : END ============================================================= -->


    <!-- ============================================================= FOOTER ============================================================= -->

    <footer class="dark-bg">

        <div class="footer-bottom">
            <div class="container inner">
                <p class="pull-left">© 2015. All rights reserved.</p>
                <ul class="footer-menu pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ranking">Destination Selector</a></li>
                    <li><a href="/currency">Currency Exchange</a>
                    </ul><!-- .footer-menu -->
                </div><!-- .container -->
            </div><!-- .footer-bottom -->
        </footer>
        
        <!-- ============================================================= FOOTER : END ============================================================= -->
        
        <!-- JavaScripts placed at the end of the document so the pages load faster -->
        <script src="{%static "js/jquery.min.js"%}"></script>
        <script src="{%static "js/jquery.easing.1.3.min.js"%}"></script>
        <script src="{%static "js/jquery.form.js"%}"></script>
        <script src="{%static "js/jquery.validate.min.js"%}"></script>
        <script src="{%static "js/bootstrap.min.js"%}"></script>
        <script src="{%static "js/bootstrap-hover-dropdown.min.js"%}"></script>
        <script src="{%static "js/skrollr.min.js"%}"></script>
        <script src="{%static "js/skrollr.stylesheets.min.js"%}"></script>
        <script src="{%static "js/waypoints.min.js"%}"></script>
        <script src="{%static "js/waypoints-sticky.min.js"%}"></script>
        <script src="{%static "js/owl.carousel.min.js"%}"></script>
        <script src="{%static "js/jquery.isotope.min.js"%}"></script>
        <script src="{%static "js/jquery.easytabs.min.js"%}"></script>
        <!--script src="{%static "js/google.maps.api.v3.js"%}"></script-->
        <script src="{%static "js/viewport-units-buggyfill.js"%}"></script>
        <script src="{%static "js/scripts.js"%}"></script>
        <script src="{%static "js/jquery.circliful.min.js"%}"></script>
        <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
        <!--[if !IE]> -->
        <script src="{%static "js/onscroll.js"%}"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <link href="{%static "css/theme-jquery-ui.css"%}" rel="stylesheet">
        <!-- <![endif]-->
        
        <!-- For demo purposes – can be removed on production -->
        
        <script>
        $(document).ready(function(){ 
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99999999999999);
                    }, 0);
                }
            });
        });
        </script>
        <!-- For demo purposes – can be removed on production : End -->
    </body>
    </html>