{%extends 'base.html' %}
{% load static %}
{%block content %}
      <div class="row bt-border top-margin">
        <section class="col-xs-6">
          <center>
          <header>
            <h2>Canon EF 24-70mm f/2.8L II USM Lens</h2>
          </header>
          <img src="{%static "images/canon.jpg"%}" alt="Canon Lens" />
        </center>
        </section>
        <section class="col-xs-6 top-margin">
          <center><img src="{%static "images/bhvideo.gif"%}" alt="BH Video" />
          <p><a href="">View more listings by <strong>B &amp; H Video</strong></a></p>
          <p>Campaign ends on: <strong>12/25/14</strong></p></center>
        </section>
      </div>
      <div class="row">
        <section class="social">
          <table class="center">
            <thead>
              <tr>
                <th scope="col">Features</th>
                <th scope="col">PPA</th>
                <th scope="col">Metric</th>
                <th scope="col">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>15+ second video mention</td>
                <td><span>$5.00</span></td>
                <td><span>1k Views</span></td>
                <td>
                  <div class="check">
                    <input type="checkbox" value="None" name="check" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
{%endblock%}