{%extends 'base.html' %}
{% load static %}
{% load account %}
{% load cal_extras %}
{% block optscript %}  <link href = "{%static "css/style.css"%}" rel ="stylesheet">{% endblock %}
{%block content %}
My name is {{user}}

<img src={% static profile_image %} width="100" height="100"></img>

<form action="{% url "update_image" %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.non_field_errors }}</p>
  <p>{{ form.image_file.label_tag }} {{ form.image_file.help_text }}</p>
  <p>
    {{ form.image_file.errors }}
    {{ form.image_file }}
  </p>
  <p><input type="submit" value="Upload" /></p>
</form>

<div style="margin:50px"></div>
<form action="#" method="post">
  {% csrf_token %}
<div style="margin:50px"></div>
 <input type="submit" class="btn" value="Update Base Calendar" name="mybtn">
 <div style="margin:50px"></div>
</form>
<form action="#" method="post">
  {% csrf_token %}
   <input type="submit" class="btn" value="Generate Group" name="gen_group">
 </form>
    {%endblock%}