{%extends 'basenew.html' %}
{% load staticfiles %}
{% load cal_extras %}
{%block pageheader %}
Climate - 
{%endblock%}
{%block subheader %}
{{text_mon}}
{%endblock%}
{%block content %}

                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Temperature (Fahrenheit)</h3>
                            </div>
                            <div class="panel-body">
                                <div id="regions_div" style="width: 600px; height: 371px; display:block; margin:auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Rainfall (mm)</h3>
                            </div>
                            <div class="panel-body">
                                <div id="rainfall" style="width: 600px; height: 371px; display:block; margin:auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Precipitation Chart</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th>Temperature (°F)</th>
                <th>Rainfall (mm)</th>
                <th>Rainy/Dry Season</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td><a href="/countries/{{country.code}}/">{{country.name}}</a></td>
                <td>{{country.temp_for_month|floatformat:2}}</td>
                <td>{{country.rainfall_for_month|floatformat:2}}</td>
                <td><i class="fa fa-{{country.rainy_dry_for_month|iconclass}}"></i> {{country.rainy_dry_for_month}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                            </div>
                        </div>
                    </div>
                </div>
      </main> 
<script>
window.onload=function() {
        var data = google.visualization.arrayToDataTable({{temperature_data|safe}});
        var rainfall = google.visualization.arrayToDataTable({{rainfall_data|safe}});
        var options = {
          colorAxis: {colors: ['blue', "#ffe5e5", 'red']}
        };
        var options_rainfall = {
          colorAxis: {colors: ['#fff', 'blue']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
        var chart_rainfall = new google.visualization.GeoChart(document.getElementById('rainfall'));

        chart_rainfall.draw(rainfall, options_rainfall);
    };


</script>
{%endblock%}