{%extends 'baseempty.html' %}
{% load staticfiles %}
{%block content %}
            <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="{%static "js/chart.js"%}"></script>
        <main>
            <section id="image-background-1" class="light-bg img-bg-soft img-bg" style="background-image: url({%static "images/art/image-background01.jpg"%});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-9 inner center-block text-center">
                            <header>
                                <h1>{{country.name}}</h1>
                                
                            </header>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>
            <div class ="row"><br/></div>
                <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Economic Forum Tourism Metrics (Polar Diagram)</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="metrics-chart" width="400" height="400" style="display:block; margin:auto;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Economic Forum Tourism Metrics (Bar Chart)</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="bar-chart" width="800" height="400" style="display:block; margin:auto;"></canvas>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Bank Temperature/Rainfall Data (Bar Chart)</h3>
                            </div>
                            <div class="panel-body">
                            <canvas id="temp-rainfall-chart" width="800" height="400" style="display:block; margin:auto;"></canvas>
                            <div id="js-legend" class="chart-legend"></div>
                            </div>
                        </div>
                    </div>
                </div>

</main>
<script>
window.onload=function() {
        var ctx = document.getElementById("metrics-chart").getContext("2d");
        var data = [{{metrics|safe}}];
        var myNewChart = new Chart(ctx).PolarArea(data);
        $("#metrics-chart").append(myNewChart.generateLegend())
        var ctx2 = document.getElementById("bar-chart").getContext("2d");
        var data2 = {labels: {{labels|safe}}, datasets:[{{metrics_2|safe}}]};
        var myNewChart2 = new Chart(ctx2).Bar(data2);
        var ctx3 = document.getElementById("temp-rainfall-chart").getContext("2d");
        var data3 = {labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], datasets:[{{temperature|safe}}, {{rainfall|safe}}]};
        var myNewChart3 = new Chart(ctx3).Line(data3);
        document.getElementById('js-legend').innerHTML = myNewChart3.generateLegend();
        Chart.defaults.global.responsive = true;
    };
</script>
{%endblock%}