{%extends 'baseempty.html' %}
{% load cal_extras %}
{% load staticfiles %}
{%block content %}
<script src="{%static "js/chart.js"%}"></script>
<main>
    <section id="image-background-1" class="light-bg img-bg-soft img-bg" style="background-image: url({%static "images/art/image-background01.jpg"%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-9 inner center-block text-center">
                    <header>
                        <h1>{{country.name}}</h1>
                        
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <div class ="row"><br/></div>
    <div class="container">
        {% if metrics %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Economic Forum Tourism Metrics (Polar Diagram): 0(worst) - 7(best)</h3>
                    </div>
                    <div class="panel-body" height="800px">
                        <canvas id="metrics-chart" height="400px" style="display:block; margin:auto;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if metrics_2 %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Economic Forum Tourism Metrics (Bar Chart): 0(worst) - 7(best)</h3>
                    </div>
                    <div class="panel-body" height="800px">
                        <canvas id="bar-chart" height="400px"></canvas>
                    
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>World Bank Temperature/Rainfall Data (Bar Chart)</h3>
                    </div>
                    <div class="panel-body" height="800px">
                    <canvas id="temp-rainfall-chart" style="display:block; margin:auto;"></canvas>
                    <div id="js-legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
        </div>
        {%if dict_currency %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Currency Exchange Rate Information</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td width="70%">
                                    Currency: {{dict_currency.name}}
                                    <br/>
                                    1 USD = {{dict_currency.current|floatformat:2}} {{dict_currency.code}}
                                    <br/>
                                    {%if dict_currency.percent_change%}
                                    This is {{dict_currency.percent_change|format_percentage|floatformat:2}}% {{dict_currency.percent_change|better_worse}} value than the five year average exchange rate of {{dict_currency.five_yr_mean|floatformat:2}}.
                                    {%endif%}
                                </td>
                                <td>
                                    <img src = {{dict_currency.url|safe}}></img>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
        {%endif%}
    </div>

</main>
<script>
window.onload=function() {
        var ctx3 = document.getElementById("temp-rainfall-chart").getContext("2d");
        var data3 = {labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], datasets:[{{temperature|safe}}, {{rainfall|safe}}]};
        var myNewChart3 = new Chart(ctx3).Line(data3);
        document.getElementById('js-legend').innerHTML = myNewChart3.generateLegend();
        var ctx = document.getElementById("metrics-chart").getContext("2d");
        var data = [{{metrics|safe}}];
        var myNewChart = new Chart(ctx).PolarArea(data);
        $("#metrics-chart").append(myNewChart.generateLegend())
        var ctx2 = document.getElementById("bar-chart").getContext("2d");
        var data2 = {labels: {{labels|safe}}, datasets:[{{metrics_2|safe}}]};
        var myNewChart2 = new Chart(ctx2).Bar(data2);
        Chart.defaults.global.responsive = true;

    };
</script>
{%endblock%}