{%extends 'base.html' %}
{% load staticfiles %}
{%block content %}
{% load cal_extras %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row panel">
        <div class="col-md-3  col-xs-3">
           <img src={% static profile_image %} class="img-thumbnail picture hidden-xs"/>
        </div>
        <div class="col-md-8  col-xs-8 hidden-xs">
           <div class="header">
                <h1>{{username.username}}</h1>
                <span></span>
           </div>
        </div>
  <div>
    <div class ="row" style="padding-top:40px;">
      <img src={% static profile_image %} class="img-thumbnail visible-xs picture_mob" />
    </div>
    <div class = "row">
        <div class="col-md-12  col-xs-12 visible-xs">
           <div class="header" style="text-align:center">
                <h1>{{username.username}}</h1>
                <span></span>
           </div>
        </div>
    </div>

<div style="margin:50px"></div>
 <div style="margin:50px"></div>
{%endblock%}