{%extends 'base.html' %}
{% load staticfiles %}
{%block content %}
{% load cal_extras %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<div class ="row" style="padding-top:40px;">
  {% if profile_image %}
    <img src={% static profile_image %} class="img-thumbnail visible-xs picture_mob" />
  {% else %} 
  {%endif%}
</div>
<div class = "row">
    <div class="col-md-12  col-xs-12 visible-xs">
       <div class="header" style="text-align:center">
            <h1>{{username.username}}</h1>
            <span></span>
       </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Previous Searches</h3>
          </div>
          <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                    {% for search_entry in search_cache %}
                    <tr>
                        <td>
                        <form action="#" method="post">
                            {% csrf_token %}
                          <input type="text" name="query_data" value="{{search_entry}}" style="display:none;"></input> {{search_entry.short_name}}<input type="submit" class="btn btn-green" value="Go">
                        </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<div style="margin:50px"></div>
<div style="margin:50px"></div>
{%endblock%}